.form-container {
    background-image: url("../images/mother-care-flip.png");
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Roboto Light", serif;
    font-size: large;
    position: relative;
    padding-left: 30px;
    min-height: 400px;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.2);
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center the content */
    align-items: center; /* Horizontally center the content */
}

.form-group {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
}

.form-content{
    margin-left: 500px;
}

.label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

.invalid-feedback {
    color: #f44336;
    align-items: flex-start;
    display: flex;
    font-size: 16px;
    line-height: normal;
    margin-top: 2px;
    gap: 10px;
}

.btn-submit {
    background-color: #4285f4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #357ae8;
}

.form-control:focus {
    border: 1px solid #007BFF;
}

.form-control.is-invalid {
    border: 1px solid #f44336; /* Red border for validation error */
}
html{
    margin: 0;
}