.content{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    min-height: min-content;
    justify-content: space-between;
    margin-left: 20%;
    position: relative;

}
.first-column{
    float: left;
    flex-direction: row;

}

.second-column{
    float: left;
    flex-direction: column;
    max-width: 35%;
}
.second-column .fixed-element {
    position: absolute;
    top: 0;
    right: 0;
}

/* General styles */
body {
    font-family: sans-serif;
    background-color: #ffffff;
}

.calendar-container {
    max-width: 600px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #87CEEB; /* light blue */
    color: #ffffff; /* white */
    padding: 10px;
}

.prev-month,
.next-month {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #ffffff;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    padding: 10px;
}

.calendar-day {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
}

.add-event-btn {
    background-color: #87CEEB; /* light blue */
    color: #ffffff; /* white */
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.content .shadowBox{
    height: 50%;
}
.today {
    background-color: #87CEEB; /* Light blue */
    color: #ffffff; /* White */
    border-radius: 10px; /* Rounded corners for circular appearance */
}
/* Center the number of the day */
.calendar-day {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Highlight the day on hover */
.calendar-day:hover {
    background-color: #B3FB94; /* Light gray */
}

/* Indicate a selected day with a blue circle */
.selected-day {
    background-color: #87CEEB; /* Light blue */
    color: #ffffff; /* White */
    border-radius: 50%; /* Rounded corners for circular appearance */
}
.appointment-day {
    background-color: #F50036; /* Light blue */
    color: #ffffff; /* White */
    border-radius: 20%; /* Rounded corners for circular appearance */
}
.weekday-label {
    text-align: center;
    font-weight: bold;
}

.DeliveryTimer {
    font-family: Gotham, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #333;
    background-color: #f4f4f4;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
}

/* Popup content */
.popup {

    background-color: white;
    margin: 400px;
    width: 400px; /* Set a maximum width for better readability */
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}
.popup-content {
    border: #f0f0f0;
    align-content: center;
    margin: 20px;
    text-align: center;
    /*align-content: center;*/
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    color: #e53935; /* Red color */
    transition: transform 0.2s;
}

.close:hover {
    transform: scale(1.3); /* Increase size on hover for an attractive effect */
}
/* CSS for table and action button */
.table-data {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table-data th, .table-data td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table-data th {
    background-color: #f2f2f2;
}

.action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy-phone-btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}

.copy-phone-btn:hover {
    background-color: #45a049; /* Dark green */
}








