.post_shadowBox{

}
.content .shadowBox{
    height: 80vh;
}



/*status toggle radio buttons*/
.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #EEE;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 300px;
    font-size: 14px;
}

.radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
}

.radio-inputs .radio input {
    display: none;
}

.radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
    background-color: #fff;
    font-weight: 600;
}


/*posts table*/
.posts_table{
    width: 100%;
}
.posts_table td{
    /*max-width: 200px;*/
}
/*styles for posts-container*/
.content .shadowBox{
    height: 80vh;
}
.notification-bar{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.notifications{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#myBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /*width: 550px;*/
    height: 200px;
    overflow:auto;
    padding:2%;
    align-items: flex-start;
    text-align: left;
    min-width: 25vw;
}
.notification.emergency{
    width: 100%;
}
.notification .message-box{
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background-color: #dce6ff;
    flex-direction: column;
    gap: 5px;
}
.notification .title{
    color: #870606;
    font-weight: bold;
}
.notification-content{

}
.button{
    padding: 5px;
    border-style: none;
    border-radius: 8px;
}
.status{
    padding: 5px;
    border-style: none;
    border-radius: 8px;
    background-color: #f5f5f5;
    width: fit-content;
}
